{% extends 'core/base.html' %}

{% block content %}

<title>Confirm new password</title>

<nav class="navbar navbar-expand bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand">Confirm new password</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
         <a class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'password_reset' %}"> Back <i class="bi bi-arrow-left-square"></i></a>
                </li>
            </ul>
            {% include 'core/theme_change.html' %}
        </a>
    </div>
</nav>

<div class="d-flex justify-content-center">
{% if form.errors %}
    <div class="alert alert-warning" role="alert">
            <div class="messages">
            {% for key, value in form.errors.items %}
                <strong>{{ value }}</strong>
            {% endfor %}
        </div>
    </div>
{% endif %}
</div>

<div class="form-content my-3 p-3">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-5"> {% if validlink %}
				<div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
					<div class="card-header justify-content-center">
						<h4 class="font-weight-light my-4 text-center">Reset Your Password</h4>
					</div>
                            <div class="card-body">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="col-md-10 offset-md-1">
                                            <div class="form-group">
                                                <label class="small mb-1" for="id_new_password1">New Password</label>
                                                <input type="password" name="new_password1" autocomplete="new-password"
                                                       class="form-control" required id="id_new_password1"
                                                       placeholder="Enter password"/>
                                                <span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-10 offset-md-1">
                                            <div class="form-group">
                                                <label class="small mb-1" for="id_new_password2">
                                                    <br>
                                                    New Password Confirmation
                                                </label>
                                                <input type="password" name="new_password2" autocomplete="new-password"
                                                       required id="id_new_password2" class="form-control"
                                                       placeholder="Confirm password"/>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                     <div class="form-row">
                                  <div class="col-md-10 offset-md-1">
                                    <div class="form-group mt-0 mb-1">
                                        <button type="submit" class="col-md-12 btn btn-success">
                                            Reset password
                                        </button>
                                    </div>
                                 </div>
                               </div>
                                </form>
                            </div>
                        </div>
                    {% else %}
                    <div class="alert alert-warning">
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}