{% extends 'core/base.html' %}

{% block content %}

<title>Complete</title>

     <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" >Zerolab_1</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-fill-check"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="{% url 'users:profile' %}">Profile</a>
                        </li>
                        {% if user.is_superuser or user.is_staff %}
                            <li>
                                <a class="dropdown-item" href="{% url 'crud:admin_panel' %}">
                                    Administration
                            </a>
                            </li>
                        {% endif %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'users:logout' %}">
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
                {% else %}
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:login' %}">Login <i class="bi bi-box-arrow-in-right"></i></a>
                </li>
                {% endif %}
            </ul>
            {% include 'core/theme_change.html' %}
            </a>
        </div>
    </nav>

    <div class="container my-3 p-3">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="alert alert-success">
                    <p class="text-center">Your password has been set. You may go ahead and
                        <a href="{% url 'users:login' %}">Login Here</a></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

