{% extends 'core/base.html' %}

{% block content %}

<title>Password reset</title>

<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">Profile</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'index' %}"> Home
                    <i class="bi bi-house-up"></i>
                </a>
            </li>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-circle"></i>
                        </a>
                        <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                            {% if user.is_superuser or user.is_staff %}
                                <li>
                                    <a class="dropdown-item" href="{% url 'admin:index' %}">
                                        Administration
                                    </a>
                                </li>
                            {% endif %}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'users:logout' %}">
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            {% include 'core/theme_change.html' %}
        </ul>
    </div>
</nav>

<div class="d-flex justify-content-center">
    {% if messages or form.non_field_errors %}
        <div class="alert alert-warning" role="alert">
            <div class="messages">
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
            {% endfor %}
        {% else %}
            {{ form.non_field_errors }}
        {% endif %}
        </div>
    </div>
</div>
{% endif %}

<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-5">
			<div class="card shadow-lg border-1 rounded-lg mt-5">
				<div class="card-header">
					<h4 class="text-center font-weight-light my-4">Change your password here</h4>
				</div>
				<div class="card-body">
					<form action="" method="post" novalidate>
                        {% csrf_token %}
						<p>{{form.as_p}}</p>
						<div class="row">
							<div class="col">
								<div class="form-group"> <label for="inputPassword5" class="form-label"></label>
						<div id="passwordHelpBlock" class="text-sm-center"> Your password must be up to 24 characters long,
                            contain letters and numbers and must not contain spaces, special characters or emoji.
                        </div>
                        	<br>
                        <div class="d-grid gap-2"> <input class="btn btn-success btn-block" type="submit" value="Save">
                        </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
		    </div>
		</div>
    </div>
</div>

</body>

{% endblock %}